.moviesCardList {
  margin: 0;
  padding-left: 0;
  list-style-type: none;

  display: grid;
  justify-content: center;
  justify-items: stretch;
  gap: 16px;
  grid-template-columns: repeat(1, minmax(auto, 300px));
}

.moviesCardList > li {
  width: 100%;
}

@media (min-width: 768px) {
  .moviesCardList {
    column-gap: 24px;
    row-gap: 35px;
    padding: 30px 10px;
    grid-template-columns: repeat(2, 342px);
  }
}

@media (min-width: 1280px) {
  .moviesCardList {
    gap: 32px;
    grid-template-columns: repeat(3, 360px);
  }
}
