.check-box {
  display: flex;
  column-gap: 14px;
  align-items: center;
  cursor: pointer;
  --checked-color: var(--accent-color);
  --unchecked-color: #343434;
  --checked-disabled-color: #ddd;
  --unchecked-disabled-color: #ddd;
}

.check-box__switcher {
  font-size: inherit;
  appearance: none;
  height: 14px;
  width: 34px;
  margin: 0;
  border-radius: 14px;
  background-color: var(--unchecked-color);
  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0"%3F%3E%3Csvg width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"%3E%3Ccircle cx="10" cy="10" fill="%23ffffff" r="10"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: auto calc(100% - 4px);
  background-position: center left 2px;
  transition: background-position .2s ease-in, background-color .2s ease-in;
  cursor: pointer;
}

.check-box__switcher:checked {
  background-position: center right 2px;
  background-color: var(--checked-color);
}

.check-box__switcher:disabled:checked {
  background-position: center right 2px;
  background-color: var(--checked-disabled-color);
  cursor: pointer;
}

.check-box__switcher:disabled {
  background-position: center left 2px;
  background-color: var(--unchecked-disabled-color);
  cursor: pointer;
}
