.aboutMe {
  padding: 70px 14px;
}

.aboutMe__heading {
  margin-bottom: 60px;
}

.aboutMe__infoBox {
  display: grid;
  justify-content: center;

  margin: 0 auto;
}

.aboutMe__captionBox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  max-width: 400px;
}

.aboutMe__photo {
  display: block;
  max-width: 100%;
  width: 292px;
  aspect-ratio: 292/352;
  border-radius: 10px;

  margin-bottom: 40px;
}

.aboutMe__name {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.04em;

  margin-top: 0;
  margin-bottom: 20px;
}

.aboutMe__profession {
  margin-bottom: 20px;
}

.aboutMe__description {
  margin-bottom: 40px;
}

.aboutMe__gitLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  align-self: start;
}

@media (min-width: 768px) {
  .aboutMe {
    padding: 90px 50px;
  }

  .aboutMe__infoBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 49px;
  }

  .aboutMe__captionBox {
    max-width: 600px;
  }

  .aboutMe__photo {
    width: 255px;
    margin-bottom: 0;
  }

  .aboutMe__name {
    font-size: 40px;
    line-height: 1;

    margin-bottom: 16px;
  }

  .aboutMe__profession {
    font-weight: 500;

    margin-bottom: 20px;
  }

  .aboutMe__description {
    margin-bottom: 0;
    flex-grow: 1;
  }
}

@media (min-width: 1280px) {
  .aboutMe {
    padding: 100px 70px;
  }

  .aboutMe__name {
    font-size: 50px;
    line-height: 1.16;

    margin-bottom: 18px;
  }

  .aboutMe__profession {
    font-size: 18px;
    line-height: 1.11;

    margin-bottom: 26px;
  }

  .aboutMe__description {
    line-height: 1.57;
  }

  .aboutMe__photo {
    width: 270px;
  }
}
