.portfolio {
  padding: 0 14px 50px;
}

.portfolio__heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #a0a0a0;

  margin-top: 0;
  margin-bottom: 20px;
}

.portfolio__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.portfolio__list > li {
  list-style-type: none;
}

.portfolio__list > li:not(:last-child) {
  border-bottom: 1px solid var(--base-text-color);
}

@media (min-width: 768px) {
  .portfolio {
    padding: 0 50px 70px;
  }

  .portfolio__heading {
    font-size: 18px;
    line-height: 1.1;

    margin-bottom: 30px;
  }
}

@media (min-width: 1280px) {
  .portfolio {
    padding: 0 70px 105px;
  }
}
