.movieCard {
  display: grid;
  grid-template-areas:
    'name duration'
    'cover cover'
    'btn btn';
  grid-template-columns: 1fr auto;
  align-items: baseline;
  max-width: 360px;

  background-color: #222;
  border-radius: 6px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movieCard__delBtn:disabled,
.movieCard__btn:disabled {
  cursor: default;
}

.movieCard__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.15;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin: 0;
  padding: 14px 0 14px 14px;
  grid-area: name;
}

.movieCard__duration {
  grid-area: duration;
  padding: 14px;
  margin-top: 0;
  margin-bottom: 0;
  justify-self: end;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.8;
  white-space: nowrap;
  color: #8b8b8b;
}

.movieCard__trailerLink {
  grid-area: cover;
  justify-self: stretch;
  width: 100%;
  aspect-ratio: 300/184;
  background-image: url("data:image/svg+xml,%3Csvg width='294' height='247' viewBox='0 0 294 247' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m162.34 197.576 22.588-164.548 23.674-7.196 23.433 150.512-22.95 6.96-2.295-21.586-18.48 5.662-2.416 23.001-23.554 7.195Zm42.276-57.916-7.368-50.485-7.126 54.967 14.494-4.482ZM38.652 77.38c10.75-3.304 30.68 3.066 30.68 24.416 0 15.57-9.3 25.597-9.3 25.597s9.3 4.482 9.3 20.524c0 13.565-9.3 24.181-9.3 24.181s9.3 5.544 9.3 19.817c0 30.904-30.68 43.289-30.68 43.289L0 247V89.175s27.902-8.493 38.652-11.796ZM23.071 104.98v21.94l13.649-4.129s8.697-3.892 8.697-13.211c0-9.318-8.939-8.611-8.939-8.611l-13.407 4.011Zm0 44.587v21.94l13.649-4.128s8.697-3.893 8.697-13.211c0-9.319-8.939-8.611-8.939-8.611l-13.407 4.01Zm0 45.295v21.94l13.649-4.128s8.697-3.893 8.697-13.211c0-9.319-8.939-8.611-8.939-8.611l-13.407 4.01ZM84.673 63.342v157.826l68.729-20.997V177.17l-45.9 13.919v-22.058l45.9-13.919v-22.765l-45.9 13.801v-21.94l45.9-13.919V87.405l-45.9 13.919v-21.94l45.9-13.918V42.582l-68.729 20.76ZM248.463 171.862V36.802L225.03 43.88V20.878L294 0v23.001l-22.829 6.96v134.588l-22.708 7.313Z' fill='%23F1EB53'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 33%;
  background-repeat: no-repeat;
}

.movieCard__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.movieCard__btn {
  grid-area: btn;
  justify-self: center;
  margin: 14px;
}

.movieCard__delBtn {
  grid-area: btn;
  justify-self: center;
  margin: 14px;

  width: 100px;
  height: 30px;
  border: none;
  border-radius: 30px;

  cursor: pointer;
  background-color: #313131;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m5.06 3.382 2.24-2.24L6.24.083 4 2.322 1.761.082.701 1.143l2.238 2.24L.583 5.738l1.06 1.06L4 4.444 6.357 6.8l1.06-1.06-2.356-2.358Z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 7px;

  transition: opacity var(--out-duration);
}

@media (any-hover: hover) {
  .movieCard__delBtn:hover {
    transition: opacity var(--in-duration);
    opacity: 0.8;
  }
}

@media (min-width: 768px) {
  .movieCard__name {
    font-size: 15px;
    line-height: 1.2;
  }

  .movieCard__duration {
    font-size: 13px;
    line-height: 1.38;
  }
}

@media (min-width: 1280px) {
}
