.baseText {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.45;

  margin: 0;
}

@media (min-width: 768px) {
  .baseText {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media (min-width: 1280px) {
  .baseText {
    font-size: 14px;
    line-height: 1.43;
  }
}
