.portfolioLink {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: -0.04em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
  position: relative;
  z-index: 0;

  transition-duration: var(--out-duration);
  transition-property: opacity;
}

.portfolioLink__arrow {
  width: 11px;
  aspect-ratio: 1;

  transform: translate(0, -3px);

  fill: currentColor;

  transition-duration: var(--out-duration);
  transition-property: transform;
}

.portfolioLink:focus > .portfolioLink__arrow {
  transform: translate(-33%, 0) rotate(45deg) scale(1.5);
}

@media (any-hover: hover) {
  .portfolioLink:hover {
    opacity: .7;
    transition-duration: var(--in-duration);
  }

  .portfolioLink:hover > .portfolioLink__arrow {
    transform: translate(-33%, 0) rotate(45deg) scale(1.5);
  }
}

@media(min-width: 768px) {
  .portfolioLink {
    font-size: 28px;
    line-height: 1.79;
  }

  .portfolioLink__arrow {
    width: 16px;
  }
}

@media(min-width: 1280px) {
  .portfolioLink {
    font-size: 30px;
    line-height: 1.66;
  }

  .portfolioLink__arrow {
    width: 18px;
  }
}
