.burgerBtn {
  cursor: pointer;
  padding: 8px;
  background-color: transparent;
  border: none;
}

.burgerBtn__svg {
  display: block;
  width: 28px;
  height: 23px;
  fill: #fff;
  transition: fill var(--out-duration) linear;
}

@media (any-hover: hover) {
  .burgerBtn:hover > .burgerBtn__svg {
    fill: var(--ui-accent-color);
    transition: fill var(--in-duration) linear;
  }
}
