.tech {
  display: grid;
  place-content: center;
  margin: 0;
  padding: 21px 12px;
  border-radius: 10px;

  background-color: #303030;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: -.04em;
}

@media(min-width: 1280px) {
  .tech {
    font-size: 14px;
    line-height: 1.21;
  }
}
