.promo {
  display: grid;
  place-content: center;

  box-sizing: border-box;
  padding: 30px 10px;

  background-color: var(--promo-bg-color);
  background-image: url('../../../images/movie-feed.svg');
  background-repeat: repeat-x;
  background-size: auto 50%;
  background-position: center;
  text-align: center;
}

.promo__heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(26px, 7vw, 120px);
  line-height: 1;
  margin-top: 0;
  margin-bottom: 24px;
}

.promo__training {
  font-weight: 400;
  font-size: clamp(14px, 1.5vw, 32px);
  margin: 0;
}

.promo__subheading {
  font-weight: 400;
  font-size: clamp(16px, 2vw, 40px);
  margin: 0 0 10px;
}

.promo__separator {
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48' fill='%23fff'%3E%3Cpath d='m12.45 37.65-2.05-2.1L21.95 24 10.4 12.4l2.05-2.1 11.6 11.6 11.5-11.6 2.05 2.1L26.1 24l11.5 11.55-2.05 2.1-11.5-11.6Z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 0.8em;
  aspect-ratio: 1;
  position: relative;
  top: 0.1em;
}
